/* tablet */
@media (max-width:800px) {
    .container {
      row-gap: 8rem;
  
    }
  
    .section {
      grid-template-columns: 1fr;
    }
  
    .bio__picture-container {
      grid-row: 1 ; 
      justify-self: center;
    }
  
    .skills__list {
      grid-template-columns: repeat(2,1fr);
    }
  
    .projects__main{
  justify-items: center;
  row-gap: 6rem;
    }
  
    .projects__data:nth-of-type(2){
      order: 1;
  
    }
  
  }
  
  .clients__opinions{
    font-size: var(--font-size-24);
  }
  
  .contact{
    row-gap: 6rem;
  }
  .contact__formContent{
    order: -1;
  }
  