.skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
  }
  
  .skills__title {
    font-size: var(--font-size-38);
    font-weight: var(--font-weight-semi-bold);
  }
  
  .skill__years {
    display: inline-block;
    font-size: var(--font-size-20);
    margin-top: 1rem;
  }

  .skills__item:hover {
    text-shadow: 1px 1px 1px blue;
    cursor: pointer;
    transform: scale(1.1);
  }
  